# Apriori

In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving Market_Basket_Optimisation.csv to Market_Basket_Optimisation.csv
User uploaded file "Market_Basket_Optimisation.csv" with length 302908 bytes

In [3]:
# Data Preprocessing
dataset = pd.read_csv('Market_Basket_Optimisation.csv', header = None)

In [4]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
dataset.shape

(7501, 20)

In [6]:
dataset

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
transactions = []

In [43]:
len(dataset)

7501

In [44]:
dataset.shape[1]

20

In [45]:
for i in range (len(dataset)):
    transactions.append([str(dataset.values[i,j]) for j in range(dataset.shape[1]) if str(dataset.values[i,j])!= 'nan'] )

In [46]:
transactions[:5]

[['shrimp',
  'almonds',
  'avocado',
  'vegetables mix',
  'green grapes',
  'whole weat flour',
  'yams',
  'cottage cheese',
  'energy drink',
  'tomato juice',
  'low fat yogurt',
  'green tea',
  'honey',
  'salad',
  'mineral water',
  'salmon',
  'antioxydant juice',
  'frozen smoothie',
  'spinach',
  'olive oil'],
 ['burgers', 'meatballs', 'eggs']]

In [47]:
pd.DataFrame(transactions)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,chutney,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,turkey,avocado,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,mineral water,milk,energy bar,whole wheat rice,green tea,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7498,chicken,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7499,escalope,green tea,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [13]:
#training the Apriori on the datasets

In [17]:
!pip install apyori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5974 sha256=b800496bff829390ceff32baede0bf79b9714c1c24207c44f57c640d11a6c3db
  Stored in directory: /root/.cache/pip/wheels/cb/f6/e1/57973c631d27efd1a2f375bd6a83b2a616c4021f24aab84080
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [18]:
from apyori import apriori

In [48]:
3*7/len(transactions)# minimum support = 0.003 ==> {min 3 products per day }*{7 days per week} /{total transactions a week}

0.0027996267164378083

In [49]:
rules = apriori(transactions, min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_length =2)

In [ ]:
#Visualising the results

In [50]:
results = list(rules)

In [51]:
len(results)

80

In [52]:
results[:5]

[RelationRecord(items=frozenset({'chicken', 'light cream'}), support=0.004532728969470737, ordered_statistics=[OrderedStatistic(items_base=frozenset({'light cream'}), items_add=frozenset({'chicken'}), confidence=0.29059829059829057, lift=4.84395061728395)]),
 RelationRecord(items=frozenset({'escalope', 'mushroom cream sauce'}), support=0.005732568990801226, ordered_statistics=[OrderedStatistic(items_base=frozenset({'mushroom cream sauce'}), items_add=frozenset({'escalope'}), confidence=0.3006993006993007, lift=3.790832696715049)]),
 RelationRecord(items=frozenset({'pasta', 'escalope'}), support=0.005865884548726837, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'escalope'}), confidence=0.3728813559322034, lift=4.700811850163794)]),
 RelationRecord(items=frozenset({'honey', 'fromage blanc'}), support=0.003332888948140248, ordered_statistics=[OrderedStatistic(items_base=frozenset({'fromage blanc'}), items_add=frozenset({'honey'}), confidence=0.2450980392156863, lift=5.164270764485569)]),
 RelationRecord(items=frozenset({'ground beef', 'herb & pepper'}), support=0.015997866951073192, ordered_statistics=[OrderedStatistic(items_base=frozenset({'herb & pepper'}), items_add=frozenset({'ground beef'}), confidence=0.3234501347708895, lift=3.2919938411349285)])]

In [53]:
df = pd.DataFrame(results)

In [54]:
df

,items,support,ordered_statistics
0,"(chicken, light cream)",0.004533,"[((light cream), (chicken), 0.2905982905982905..."
1,"(escalope, mushroom cream sauce)",0.005733,"[((mushroom cream sauce), (escalope), 0.300699..."
2,"(pasta, escalope)",0.005866,"[((pasta), (escalope), 0.3728813559322034, 4.7..."
3,"(honey, fromage blanc)",0.003333,"[((fromage blanc), (honey), 0.2450980392156863..."
4,"(ground beef, herb & pepper)",0.015998,"[((herb & pepper), (ground beef), 0.3234501347..."
...,...,...,...
75,"(mineral water, ground beef, olive oil, spaghe...",0.003066,"[((ground beef, olive oil), (mineral water, sp..."
76,"(mineral water, pancakes, ground beef, spaghetti)",0.003066,"[((pancakes, ground beef), (mineral water, spa..."
77,"(mineral water, tomatoes, ground beef, spaghetti)",0.003066,"[((tomatoes, ground beef), (mineral water, spa..."
78,"(mineral water, milk, olive oil, spaghetti)",0.003333,"[((mineral water, milk, spaghetti), (olive oil..."
79,"(mineral water, tomatoes, milk, spaghetti)",0.003333,"[((tomatoes, milk), (mineral water, spaghetti)..."

In [55]:
df.head(5)

,items,support,ordered_statistics
0,"(chicken, light cream)",0.004533,"[((light cream), (chicken), 0.2905982905982905..."
1,"(escalope, mushroom cream sauce)",0.005733,"[((mushroom cream sauce), (escalope), 0.300699..."
2,"(pasta, escalope)",0.005866,"[((pasta), (escalope), 0.3728813559322034, 4.7..."
3,"(honey, fromage blanc)",0.003333,"[((fromage blanc), (honey), 0.2450980392156863..."
4,"(ground beef, herb & pepper)",0.015998,"[((herb & pepper), (ground beef), 0.3234501347..."

In [56]:
pd.DataFrame(df.iloc[0,2])

      items_base  items_add  confidence      lift
0  (light cream)  (chicken)    0.290598  4.843951

In [57]:
#2nd row
print(df.iloc[1,:])
pd.DataFrame(df.iloc[1,2])

items                                  (escalope, mushroom cream sauce)
support                                                        0.005733
ordered_statistics    [((mushroom cream sauce), (escalope), 0.300699...
Name: 1, dtype: object

               items_base   items_add  confidence      lift
0  (mushroom cream sauce)  (escalope)    0.300699  3.790833

In [58]:
df.head()

,items,support,ordered_statistics
0,"(chicken, light cream)",0.004533,"[((light cream), (chicken), 0.2905982905982905..."
1,"(escalope, mushroom cream sauce)",0.005733,"[((mushroom cream sauce), (escalope), 0.300699..."
2,"(pasta, escalope)",0.005866,"[((pasta), (escalope), 0.3728813559322034, 4.7..."
3,"(honey, fromage blanc)",0.003333,"[((fromage blanc), (honey), 0.2450980392156863..."
4,"(ground beef, herb & pepper)",0.015998,"[((herb & pepper), (ground beef), 0.3234501347..."

In [59]:
pd.DataFrame(df.ordered_statistics[0])

      items_base  items_add  confidence      lift
0  (light cream)  (chicken)    0.290598  4.843951

In [60]:
b = pd.DataFrame(df.ordered_statistics[0])

In [30]:
for i in range(1,len(df)):
    b = b.append(pd.DataFrame(df.ordered_statistics[i]))

In [31]:
b

,items_base,items_add,confidence,lift
0,(light cream),(chicken),0.290598,4.843951
0,(mushroom cream sauce),(escalope),0.300699,3.790833
0,(pasta),(escalope),0.372881,4.700812
0,(fromage blanc),(honey),0.245098,5.164271
0,(herb & pepper),(ground beef),0.323450,3.291994
...,...,...,...,...
1,"(mineral water, milk, nan, spaghetti)",(olive oil),0.211864,3.216994
0,"(tomatoes, milk)","(mineral water, nan, spaghetti)",0.238095,3.986501
1,"(mineral water, milk, spaghetti)","(tomatoes, nan)",0.211864,3.097846
2,"(tomatoes, milk, nan)","(mineral water, spaghetti)",0.238095,3.986501
3,"(mineral water, milk, nan, spaghetti)",(tomatoes),0.211864,3.097846

In [32]:
i = []
z = 0
for num in b.index:
    if num == 0:
        i.append(z)
        z = z+1
    else:
        i.append(z-1)

In [33]:
b.index = i

In [34]:
b['support'] = df.support

In [35]:
b.sort_values(by= ['lift'],ascending=False)

,items_base,items_add,confidence,lift,support
150,"(frozen vegetables, soup)","(mineral water, milk, nan)",0.383333,7.987176,0.003066
97,"(frozen vegetables, soup)","(mineral water, milk)",0.383333,7.987176,0.003066
150,"(frozen vegetables, nan, soup)","(mineral water, milk)",0.383333,7.987176,0.003066
96,"(frozen vegetables, olive oil)","(mineral water, milk)",0.294118,6.128268,0.003333
149,"(frozen vegetables, olive oil, nan)","(mineral water, milk)",0.294118,6.128268,0.003333
...,...,...,...,...,...
121,"(shrimp, ground beef, nan)",(spaghetti),0.523256,3.005315,0.005999
49,"(shrimp, ground beef)",(spaghetti),0.523256,3.005315,0.005999
104,"(mineral water, frozen vegetables, tomatoes)",(spaghetti),0.522727,3.002280,0.003066
153,"(mineral water, frozen vegetables, nan, tomatoes)",(spaghetti),0.522727,3.002280,0.003066
153,"(mineral water, frozen vegetables, tomatoes)","(nan, spaghetti)",0.522727,3.002280,0.003066

In [36]:
pd.DataFrame(df.ordered_statistics[0])

      items_base  items_add  confidence      lift
0  (light cream)  (chicken)    0.290598  4.843951

In [37]:
b.columns

Index(['items_base', 'items_add', 'confidence', 'lift', 'support'], dtype='object')

In [38]:
b = b[['items_base', 'items_add','support', 'confidence',  'lift']]

In [39]:
b.head()

               items_base      items_add   support  confidence      lift
0           (light cream)      (chicken)  0.004533    0.290598  4.843951
1  (mushroom cream sauce)     (escalope)  0.005733    0.300699  3.790833
2                 (pasta)     (escalope)  0.005866    0.372881  4.700812
3         (fromage blanc)        (honey)  0.003333    0.245098  5.164271
4         (herb & pepper)  (ground beef)  0.015998    0.323450  3.291994

In [40]:
b.tail()

,items_base,items_add,support,confidence,lift
158,"(mineral water, milk, nan, spaghetti)",(olive oil),0.003333,0.211864,3.216994
159,"(tomatoes, milk)","(mineral water, nan, spaghetti)",0.003333,0.238095,3.986501
159,"(mineral water, milk, spaghetti)","(tomatoes, nan)",0.003333,0.211864,3.097846
159,"(tomatoes, milk, nan)","(mineral water, spaghetti)",0.003333,0.238095,3.986501
159,"(mineral water, milk, nan, spaghetti)",(tomatoes),0.003333,0.211864,3.097846

In [61]:
#Check Maximum sold item

In [62]:
rvl = dataset.values.ravel()

In [63]:
import collections

In [67]:
val = collections.Counter(rvl)
pd.DataFrame(val.items())

                  0    1
0            shrimp  536
1           almonds  153
2           avocado  250
3    vegetables mix  193
4      green grapes   68
..              ...  ...
116    burger sauce   44
117         oatmeal   33
118       asparagus    1
119           cream    7
120         napkins    5

[121 rows x 2 columns]

In [68]:
df = pd.DataFrame(val.items(), columns = ['items', 'Count'])
df.head(10)

              items  Count
0            shrimp    536
1           almonds    153
2           avocado    250
3    vegetables mix    193
4      green grapes     68
5  whole weat flour     70
6              yams     86
7    cottage cheese    239
8      energy drink    200
9      tomato juice    228

In [70]:
df.sort_values(by= 'Count', ascending = False)[1:]

             items  Count
14   mineral water   1788
22            eggs   1348
35       spaghetti   1306
30    french fries   1282
40       chocolate   1230
..             ...    ...
115        bramble     14
119          cream      7
120        napkins      5
98     water spray      3
118      asparagus      1

[120 rows x 2 columns]

In [71]:
df2 = df.sort_values(by= 'Count', ascending = False)[1:]

In [72]:
df2['Support'] = df2['Count']/float(len(df2))

In [73]:
df2.head(20)

                items  Count     Supprt
14      mineral water   1788  14.900000
22               eggs   1348  11.233333
35          spaghetti   1306  10.883333
30       french fries   1282  10.683333
40          chocolate   1230  10.250000
11          green tea    991   8.258333
26               milk    972   8.100000
62        ground beef    737   6.141667
34  frozen vegetables    715   5.958333
56           pancakes    713   5.941667
20            burgers    654   5.450000
70               cake    608   5.066667
37            cookies    603   5.025000
63           escalope    595   4.958333
10     low fat yogurt    574   4.783333
0              shrimp    536   4.466667
44           tomatoes    513   4.275000
19          olive oil    494   4.116667
17    frozen smoothie    475   3.958333
25             turkey    469   3.908333